<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
  
    </div>

    <div class="content">
        <div class="content-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h4 class="m-0 ms-3"><strong><i class="fas fa-chart-line"></i></span>   Dashboard Fim Mês</strong></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3 col-6">
                                    <!-- small card -->
                                    <div class="small-box bg-info">
                                      <div class="inner">
                                        <h3><%= mes %></h3>
                        
                                        <p>Inicio mês: <%= inicioMes %><br>
                                            Fim mês: <%= fimMes %>
                                        </p>
                                        
                                      </div>
                                      <div class="icon">
                                        <i class="fas fa-calendar"></i>
                                      </div>
                                      <a href="#" class="small-box-footer">
                                        Mais Informações  <i class="fas fa-arrow-circle-right"></i>
                                      </a>
                                    </div>
                                  </div>   
                                  
                                  <!--
                                  <div class="col-sm-3 col-6">
                                    
                                    <div class="small-box bg-warning">
                                      <div class="inner">
                                        <h3>Detalhamento funcionario</h3>
                        
                                        <p>QTD mês atual: 150<br>
                                            QTD mês anterior: 70
                                        </p>
                                        
                                      </div>
                                      <div class="icon">
                                        <i class="fas fa-user"></i>
                                      </div>
                                      <a href="#" class="small-box-footer">
                                       Mais Informações <i class="fas fa-arrow-circle-right"></i>
                                      </a>
                                    </div>
                                  </div> 

                                  <div class="col-sm-3 col-6">
                                    
                                    <div class="small-box bg-danger">
                                      <div class="inner">
                                        <h3>Valor a ser pago</h3>
                        
                                        <p>QTD mês atual: 150<br>
                                            QTD mês anterior: 70
                                        </p>
                                        
                                      </div>
                                      <div class="icon">
                                        <i class="fas fa-money-bill"></i>
                                      </div>
                                      <a href="#" class="small-box-footer">
                                       Mais Informações <i class="fas fa-arrow-circle-right"></i>
                                      </a>
                                    </div>
                                  </div> 

                                  <div class="col-sm-3 col-6">
                                    
                                    <div class="small-box bg-success">
                                      <div class="inner">
                                        <h3>Valor a ser pago</h3>
                        
                                        <p>QTD mês atual: 150<br>
                                            QTD mês anterior: 70
                                        </p>
                                        
                                      </div>
                                      <div class="icon">
                                        <i class="fas fa-money-bill"></i>
                                      </div>
                                      <a href="#" class="small-box-footer">
                                       Mais Informações <i class="fas fa-arrow-circle-right"></i>
                                      </a>
                                    </div>
                                  </div> 
                                -->
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  

<!--
<script src="assets/config/config.js"></script>
<script src="assets/controllers/Ajax/perfilAjax.js"></script>
<script src="assets/controllers/PerfilController.js"></script>
-->
<script>
    //let perfilController = new PerfilController();
</script>


