<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="content-header">
  
    </div>
    <div class="content">
        <div class="content-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <h4 class="m-0 ms-3"><strong><i class="fas fa-home"></i></i></span>   Home</strong></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/img/Office workers organizing data storage.jpg" width="100%">
                                </div>
                                <div class="col-8">
                                    <h3>Bem vindo ao ERP da Radnet Telecom</h3>
                                    <p>O seguinte software propoem a integração de todos os serviços da empresa</p>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>