<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Radnet Telecom</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/img/favicon-16x16.png"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://maps.google.com/maps/api/js?key=<%= apiGoogle %>"
      type="text/javascript"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.mask.js"></script>
    <link rel="stylesheet" href="assets/css/estilo-localizacao-cliente.css" />
    <style>
      body {
        background-image: url("assets/img/cidade.jpg");
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        background-attachment: fixed;
      }
      #map {
        height: 600px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <script>
      $(document).ready(function () {
        var $seuCampoCpf = $("#fone");
        $seuCampoCpf.mask("00-00000-0000", {
          reverse: true,
        });
      });
    </script>
    <div class="container-fluid">
      <div class="container">
        <div class="row text-center d-flex justify-content-center">
          <div class="col-xl-6 col-lg-11 conteudo rounded-3 p-5 mt-5 mb-5">
            <div class="row mb-3 d-flex justify-content-center">
              <div class="col-8">
                <img src="assets/img/Logo Completo.png" width="100%" />
              </div>
            </div>
            <div class="row mb-3 bg-success rounded-3 p-3 text-light">
              <h3>Olá,</h3>

              <p class="">
                Nós da Radnet Telecom desenvolvemos esse sistema para facilitar
                que nossos futuros clientes tenham uma resposta imediata se há
                viabilidade de internet em sua região.
                <br />
                <br />
                Para que nós possamos verificar a sua viabilidade, precisamos da
                sua localização. Lembre-se de ligar a localização do seu celular
                ou permitir a localização no seu navegador como mostram as
                imagens a baixo.
              </p>
            </div>
            <div
              class="row mb-3 d-flex justify-content-between bg-success rounded-3 p-3"
            >
              <div class="col-6">
                <span class="text-light mb-2">Localização celular</span>
                <img src="assets/img/localizacao.jpg" width="100%" />
              </div>
              <div class="col-6">
                <span class="text-light mb-2">Localização navegador</span>
                <img src="assets/img/location.png" width="100%" />
              </div>
            </div>

            <div class="row mb-3">
              <button
                class="btn btn-success"
                onclick="getLocation(),localizacaoClienteController.mostrarInputs()"
                id="clique"
              >
                - Clique Aqui -
              </button>
            </div>
            <div class="row" style="display: none" id="divMap">
              <div id="map"></div>
              <p class="text-light mt-2 bg-success rounded-3 p-3">
                Utilize o marcador vermelho e coloque ele sobre a localização de
                sua residência.
                <br />

                Caso o mapa não abra, verifique se a localização está ativada.
              </p>
            </div>
            <div class="row" style="display: none" id="formulario">
              <form method="post">
                <div class="input mb-3" id="nome">
                  <span class="input-text" id="basic-addon1"
                    >Número Telefone</span
                  >
                  <input
                    type="tel"
                    class="form-control"
                    placeholder="61-99999-9999"
                    aria-label="Username"
                    name="fone"
                    id="fone"
                    aria-describedby="basic-addon1"
                    required
                  />
                </div>
                <input
                  type=" text"
                  id="la"
                  name="latitude"
                  style="visibility: hidden"
                  hidden="hidden"
                />
                <input
                  type="text"
                  id="lo"
                  name="longitude"
                  style="visibility: hidden"
                  hidden="hidden"
                />
                <button type="submit" id="enviar" class="btn btn-primary">
                  Enviar localização
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script>
      function disableF5(e) {
        if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82)
          e.preventDefault();
      }

      $(document).ready(function () {
        $(document).on("keydown", disableF5);
      });
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            this.initMap,
            this.showError
          );
        } else {
          x.innerHTML = "Geolocalização não é suportada nesse browser.";
        }
      }

      function initMap(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        $("#la").val(position.coords.latitude);
        $("#lo").val(position.coords.longitude);

        var uluru = {
          lat: latitude,
          lng: longitude,
        };
        var map = new google.maps.Map(document.getElementById("map"), {
          zoom: 18,
          center: uluru,
          mapTypeControl: false,
          mapTypeId: "satellite",
          disableDefaultUI: true,
          gestureHandling: "greedy",
        });
        marker = new google.maps.Marker({
          map: map,
          draggable: true,
          position: uluru,
          animation: google.maps.Animation.DROP,
        });

        google.maps.event.addListener(marker, "dragend", function () {
          $("#la").val(marker.position.lat());
          $("#lo").val(marker.position.lng());
        });
      }

      function showError(error) {
        switch (error.code) {
          case error.PERMISSION_DENIED:
            x.innerHTML = "Usuário rejeitou a solicitação de Geolocalização.";
            break;
          case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Localização indisponível.";
            break;
          case error.TIMEOUT:
            x.innerHTML = "O tempo da requisição expirou.";
            break;
          case error.UNKNOWN_ERROR:
            x.innerHTML = "Algum erro desconhecido aconteceu.";
            break;
        }
      }
    </script>

    <script src="assets/controllers/LocalizacaoClienteController.js"></script>

    <script>
      let localizacaoClienteController = new LocalizacaoClienteController();
    </script>
  </body>
</html>
